body
{
    background-color: rgb(17, 195, 226);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav
{
    display: block;
    height: 50px;
    width: 50%;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
}

.nav
{
    display: inline-block;
    height: 37px;
    border: 3px solid rgb(245, 187, 29);
    text-decoration: none;
    /* text-align: center; */
    color: rgb(0, 0, 0);
    /* padding: 5px 5px 5px 5px; */
    margin-top: 3.5px;
    margin-right: 100px;
    margin-left: 10px;
    
    font-size: 20px;
}

img
{
    display: block;
    margin: auto;
}

blockquote
{
    text-align: center;
}

.resume
{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.fun_facts
{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
}

footer
{
    text-align: justify;
}

.p_footer
{
    text-align: center;
}

.section_footer
{
    text-align: center;
}

.p_footer:hover
{
    transition-duration: 3s;
    transform:scale(2,3);
}

.section_footer:hover
{
    transition-duration: 3s;
    transform:scale(2,3);
}

h1
{
    text-align: center;
}

.a_footer
{
    
    margin-left: 10px;
}

.resume_h2
{
    text-align: center; 
}

h2, h3
{
    text-decoration: underline;
}

.my_resume_main
{
    display: block;
    height: 1000px;
    width: 1000px;
    border: 4px solid rgb(255, 255, 255);
    padding: 10px;
    margin: auto;
}
.resume_objective
{
    display: block;
    height: 100px;
    width: 75%;
    border: 3px solid rgb(202, 173, 109);
    margin: auto;
    margin-top: auto;
    padding: 5px;
}

.resume_prof_exper
{
    display: block;
    height: 400px;
    width: 75%;
    border: 3px solid rgb(202, 173, 109);
    margin: auto;
    padding: 5px;
}

.resume_educ_exper
{
    display: block;
    height: 200px;
    width: 75%;
    border: 3px solid rgb(202, 173, 109);
    margin: auto;
    padding: 5px;
}

.resume_extracurricular
{
    display: block;
    height: 100px;
    width: 75%;
    border: 3px solid rgb(202, 173, 109);
    margin: auto;
    padding: 5px;
}